body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
        }

        header {
            text-align: center;
            padding: 0px;
            margin: 0px;
            background-color: #f0f0f0;
        }

        @media screen and (max-width: 600px) {
        header pre {
            display: none; /* Ukrywa ASCII art na małych ekranach */
        }
    
        body {
            font-size: 14px; /* Mniejszy rozmiar tekstu dla lepszej czytelności */
        }

        }


        section {
            max-width: 800px;
            margin: 0 auto;
        }

        h1, h2 {
            color: #333;
        }

        p {
            text-align: justify;
            color: #555;
        }

        footer {
            text-align: center;
            background-color: #f0f0f0;
            bottom: 0;
            width: 100%;
        }

        a {
            color:#333
        }
        img {
            border: 2px solid #3498db;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            padding: 5px;
            display: block;
            margin: 10px auto;
            max-width: 100%;
            height: auto;
        }

        @media screen and (max-width: 600px) {
            img {
                max-width: 50%;
            }
        }

