body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #f0f0f0;
}

@media screen and (max-width: 600px) {
    header pre {
        display: none;
    }

    body {
        font-size: 14px;
    }
}

section {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

p {
    text-align: justify;
    color: #555;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    bottom: 0;
    width: 100%;
}

a {
    color: #333;
}

img {
    border: 2px solid #3498db;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    img {
        max-width: 50%;
    }
}

.button-container {
    text-align: center; /* Wyśrodkowanie przycisku w poziomie */
    margin: 20px 0; /* Margines na górze i na dole kontenera przycisku */
}

button {
    background-color: #969696;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Wyśrodkowanie przycisku w poziomie */
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #6b6b6b;
}

section p {
    text-align: justify;
    text-justify: inter-word;
}
