* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
}


@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
         url('assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
         url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; /* Ustawia elementy jeden nad drugim */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; /* Ustawia elementy jeden nad drugim */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.zen {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column; /* Ustawia elementy jeden nad drugim */
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Zapobiega poziomemu przewijaniu */
    overflow-y: hidden; /* Zapobiega poziomemu przewijaniu */

}

.shirime-container {
    position: absolute;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1); /* Cień rzucany na wszystkie strony */
    margin-bottom: 10vh;
    backdrop-filter: blur(5px);
    border-radius: 15px;

}
@keyframes fadeOutBlur {
    0% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        opacity: 0;
        filter: blur(20px); /* Duży blur dla efektu znikania */
    }
}



.shirime {
    font-size: xx-large;
    margin: 5px;
    cursor: pointer;

}


.frog {
    height: 70vh;
    z-index: 5;
    position: absolute; /* Ustawienie pozycji absolutnej */
    left: 50%; /* Centrowanie w poziomie */
    top: 50%; /* Centrowanie w pionie */
    transform: translate(-50%, -50%); /* Przesunięcie do środka */
    z-index: 5;
}

@media (max-width: 768px) {
    .frog {
        height: 50vh; /* Dostosowanie rozmiaru dla widoku mobilnego */
    }
}


#foggyCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background1.png"); /* Opcjonalnie, jeśli chcesz tło */
  overflow: hidden;
}


.fog-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/Fog.png') repeat-x;
    background-size: cover;
    animation: moveFog 45s linear infinite;
    z-index: 5;
    pointer-events: none;
}

.fog-layer:first-child {
    animation: moveFog 45s linear infinite;
}

.fog-layer:nth-child(2) {
    left: -100%;
    animation: moveFog 45s linear infinite;
}

@media (max-width: 768px) {
    .fog-layer {
        background: url('../img/Fog.png') repeat-x;
        background-size: 100% 100%;
        height: 100vh;
    }
}

@keyframes moveFog {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /* Szerokość automatycznie dostosowuje się do zawartości */
    max-width: 60vw; /* Maksymalna szerokość kontenera ustawiona na 60% szerokości widoku */
    height: auto;
    margin: 20px auto;
    background: rgba(217, 217, 217, 0.50);
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 48px;
    padding: 20px;
    z-index: 10;
}

.container > * {
    pointer-events: all;
}


@media (max-width: 768px) {
    .container {
        max-width: 100vw;
    }
}


.tab, .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab button, .button-container button {
    background: rgba(217, 217, 217, 0.50); /* Półprzezroczyste tło */
    margin: 10px; /* Margines z każdej strony */
    border-radius: 20px;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 0.8; /* Lekka przezroczystość */
}

.tab button:hover, .button-container button:hover {
    background-color: #ddd;
    opacity: 1; /* Pełna nieprzezroczystość przy najechaniu */
}

.tab button.active, .button-container button.active {
    background-color: #aaa; /* Zmiana koloru tła dla aktywnego stanu */
    color: white; /* Zmiana koloru tekstu dla lepszej widoczności */
    opacity: 1; /* Pełna nieprzezroczystość */
}




.tabcontent {
    display: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: none;
}

.tabcontent h2 {
    margin-bottom: 10px;
    color: #393a35;
}

.container a {
    color: #6990b7;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

p {
    color: #393a35;
    text-align: justify;
    margin: 10px;
}



img {
    margin: 10px; /* Ustawia margines 10px z każdej strony dla każdego obrazu */
    opacity: 0.8;
}

.element {
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
    border-radius: 50%;
    opacity: 0.7; /* Lekka przezroczystość */
    filter: blur(4px); /* Efekt rozmazania */
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .fogg-canvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); /* Lekko przezroczysty */
    border-radius: 50%;
    filter: blur(16px); /* Efekt rozmazania */
    z-index: 10;
    transition: opacity 2s, left 2s, top 2s, width 2s, height 2s; /* Płynne przejścia */
}
  .fogg-canvas2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1); /* Lekko przezroczysty */
    border-radius: 50%;
    filter: blur(16px); /* Efekt rozmazania */
    z-index: 1;
    transition: opacity 2s, left 2s, top 2s, width 2s, height 2s; /* Płynne przejścia */
}


  
.mantra1 {
    color: white;
    font-size: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: growAndFadeOut 20s infinite;
}

.mantra2 {
    color: white;
    font-size: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: growAndFadeOut 20s infinite;
    animation-delay: 5s; /* Opóźnienie animacji o 3 sekundy */
}

.mantra3 {
    color: white;
    font-size: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: growAndFadeOut 20s infinite;
    animation-delay: 10s; /* Opóźnienie animacji o 3 sekundy */
}

.mantra4 {
    color: white;
    font-size: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: growAndFadeOut 20s infinite;
    animation-delay: 15s; /* Opóźnienie animacji o 3 sekundy */
}
@keyframes growAndFadeOut {
    0%, 50% {
        font-size: 0;
        opacity: 1;
        filter: blur(0px);
    }
    50% {
        font-size: 30vh;
        opacity: 0;
        filter: blur(8px);
    }
    75%, 100% {
        font-size: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    #komunikat-mobilny {
        display: block;
    }
}

#removedCounter {
    visibility: hidden;
}


/* Podstawowy styl dla .eye */
.eye {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
}

/* Nowa klasa do aktywowania animacji */
.animate-eye {
    animation: growAndFade 2s forwards;
}

@keyframes growAndFade {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}


